<div class="page-content page-container" id="page-content">
  <div class="padding bg">
      <div class="row container d-flex justify-content-center">
          <div class="col-xl-14 col-md-12">
              <div class="card user-card-full mx-auto">
                  <div class="row m-l-0 m-r-0">
                      <div class="col-sm-4 bg-c-lite-green user-profile d-flex justify-content-center">
                          <div class="card-block text-white text-center align-items-center">
                            <div class="circular--portrait m-b-25">
                              <img src="assets/img/profile.jpg" />
                            </div>
                            <h3 class="f-w-500 m-b-25">Ty Ponzo</h3>
                            <div class="row text-center align-items-center d-flex justify-content-center">
                              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                              <a href="https://linkedin.com/in/ty-ponzo-9b83841a2" class="fa fa-linkedin m-r-10"></a>
                              <a href="https://github.com/tponzo" class="fa fa-github m-l-10"></a>
                            </div>
                          </div>
                      </div>
                      <div class="col-sm-8 d-flex justify-content-center">
                          <div class="card-block">
                            <h3 class="m-b-20 p-b-5 p-t-5 b-b-default f-w-600">About Me</h3>
                            <div class="desc">
                              Currently a Computer Science Undergraduate at the University of Texas at Dallas.
                              <br><br>
                            </div>
                            <div class="desc">
                              I have experience with developing full-stack web and mobile applications.
                              My goal is to have an impact on meaningful projects by continuously improving and expanding my programming abilities.
                              <br><br>
                            </div>
                            <div class="desc">
                              My hobbies include cooking, skating, and watching Netflix.
                              <br><br>
                            </div>
                            <div class="desc col-sm-8">
                              <table class="row" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><div>Find my resume&nbsp;</div></td>
                                  <td><div (click)="openResume()" class="link">here</div></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
