<div class="page-content page-container" id="page-content">
  <div class="padding bg">
    <div class="row">
      <div data-aos="flip-left" data-aos-duration="2000">
        <div class="card" style="width: 20rem">
          <div class="card-img-wrapper">
            <img
              class="card-img-top"
              src="../../assets/img/personal-website.JPG"
              alt="Card image cap"
            />
          </div>
          <div class="card-body border-top">
            <h5 class="card-title">Digital Profolio</h5>
            <div class="card-content">
              <p class="card-text">
                A digital portfolio of me and my projects.
              </p>
              <p class="card-text sub-text">Angular & Github Pages</p>
              <a
                href="https://github.com/tponzo/tponzo.github.io"
                class="btn btn-primary mt-auto align-self-start"
              >
                Source
              </a>
              <a href="#" class="btn btn-primary mt-auto align-self-start">
                Demo
              </a>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="flip-left" data-aos-duration="2000">
        <div class="card" style="width: 20rem">
          <div class="card-img-wrapper">
            <img
              class="card-img-top"
              src="../../assets/img/secure.JPG"
              alt="Card image cap"
            />
          </div>
          <div class="card-body border-top">
            <h5 class="card-title">Secure</h5>
            <div class="card-content">
              <p class="card-text">
                Mobile app that creates a secure but personalized password by
                combining social media data and encryption.
              </p>
              <p class="card-text sub-text">Flutter & Firebase</p>
              <a
                href="https://github.com/acm-projects/Secure"
                class="btn btn-primary mt-auto align-self-start"
              >
                Source
              </a>
              <a
                href="https://docs.google.com/presentation/d/1bVllhOGnhga8fzY_KKuc2nMAz3sBaVXb_VhmSKNjkls/present?usp=sharing"
                class="btn btn-primary mt-auto align-self-start"
              >
                Demo
              </a>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="flip-left" data-aos-duration="2000">
        <div class="card" style="width: 20rem">
          <div class="card-img-wrapper">
            <img
              class="card-img-top"
              src="../../assets/img/comet.JPG"
              alt="Card image cap"
            />
          </div>
          <div class="card-body border-top">
            <h5 class="card-title">Match.Comet</h5>
            <div class="card-content">
              <p class="card-text">
                Mobile app to help connect students to local campus events.
              </p>
              <p class="card-text sub-text">Android Studio</p>
              <a
                href="https://github.com/tponzo/Match.Comet"
                class="btn btn-primary mt-auto align-self-start"
              >
                Source
              </a>
              <a
                href="https://devpost.com/software/match-comet"
                class="btn btn-primary mt-auto align-self-start"
              >
                Devpost
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
